extends ../shared/template
block content
  h1 New

  .row
      .col-xs-6
        form(action='/tasks', method='post')
          .form-group
            label Name
            input.form-control(type='text', name='name')
          .form-group
            label Due
            input.form-control(type='date', name='due')
          .form-group
            label Priority
            select.form-control(name='priority')
              each priority in priorities
                option(value=priority.value)= priority.name
          .form-group
            label Category
            select.form-control(name='category')
              each category in categories
                option= category.name
          .form-group
            button.btn.btn-primary(type='submit') Add
      .col-xs-6
